main.main
    section.start
        div.start_text
            h1 PharmaVita
            p Ваш надійний партнер у збереженні здоров'я: широкий асортимент ліків та якісне обслуговування.
        div.start_img
    section.book
        div.container
            .wrap 
                h2 Оформлення бронювання
                a(href="#").add &plus;
            .inp-group
            .total
                .total_sum
                button Забронювати 
        
    