//color
$gray: #97B1AA;
$black:#354B46;
$green:#00B6A8;
//size

$font-size-h1: 3.9vw;
$font-size-h2: 2.7vw;
$font-size-h3: 2vw;
$font-size-p: 1.3vw;
// $font-size-h1: 57px;
// $font-size-h2: 40px;
// $font-size-h3: 30px;
// $font-size-p: 20px;

