@import 'reset';

@import url("https://fonts.googleapis.com/css2?family=Marmelad&display=swap");
@import "header";
@import "content";
@import "footer";


html{
    font-family: "Marmelad", sans-serif;
    color: $black;
}
h1{
    font-size: $font-size-h1;
}
h2{
    font-size: $font-size-h2;
}
h3, a{
    font-size: $font-size-h3;
}
p{
    font-size: $font-size-p;
}
@media screen and (max-width:800px){
    $font-size-h1: 40px;
    $font-size-h2: 30px;
    $font-size-h3: 20px;
    $font-size-p: 10px;
    h1{
        font-size: $font-size-h1;
    }
    h2{
        font-size: $font-size-h2;
    }
    h3, a{
        font-size: $font-size-h3;
    }
    p{
        font-size: $font-size-p;
    }
    .header{

        flex-direction: column;
        height: 120px;

    }

    
}